.popup-registration {
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: initial;

    background: #fcf7d9;
    text-align: left;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    box-shadow: rgba(0,0,0,0.2) 0px 2px 5px;
    border-radius: 5px;
    padding: 10px 12px 12px 12px;
    position: fixed;
    z-index: 2147483647;
    top: 15px;
    right: 15px;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}